@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
--primary-color: rgb(13, 106, 134);
--primary-color-darker: rgb(4, 48, 61);
}

*{
    box-sizing: : border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans' , sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    /* Arredondar cantos*/
    border-radius: 10px;
}
/*Como não existe clas... ele vai pegar qualquer formulario da index.html */
form input, form label, form button {
    display: block;
    width: 91%;
    margin-bottom: 10px;
    
}

form input {
    font-size: 24;
    height: 50px;
    padding: 0 20px;
}

/* efeito ao clicar no input ficar destacado */
form input :focus{
    outline: 1px solid var(--primary-color);
}
/* Estilizar o botão*/
form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    height: 50px;
    /* faz o cursos virar maozinha */
    cursor: pointer;
    margin-top: 25px;
    margin-right: 10px;
}

/* escurecer a cor quando passar o cursor por cima*/
form button:hover {
    background: var(--primary-color-darker);
}



